/Calculator/*.iml
/Calculator/.gradle
/Calculator/local.properties
/Calculator/.idea/caches
/Calculator/.idea/libraries
/Calculator/.idea/modules.xml
/Calculator/.idea/workspace.xml
/Calculator/.idea/navEditor.xml
/Calculator/.idea/assetWizardSettings.xml
/Calculator/.DS_Store
/Calculator/build
/Calculator/captures
/Calculator/.externalNativeBuild
/Calculator/.cxx
